.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 $m-size;
    text-align: center;
}

.container__list {
    text-align: left;
}

.container__box {
    background-color: $light;
    width: 500px;
    border: 1px solid $blue;
    padding: 15px;
    margin: 15px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}